.type-014-contact {
  position: relative;
  left: 0px;
  box-sizing: border-box;
}
.type-014-contact h3 span {
  border-bottom: 2px solid #f15a23;
  display: inline-block;
  padding-right: 5px;
  padding-bottom: 3px;
  margin-bottom: -1px;
}
.type-014-contact h3 {
  font-size: 20px;
  margin: 0 0 20px;
  line-height: normal;
  border-bottom: 1px solid #e5e5e5;
  color: #000;
}
.type-014-contact h1 {
  color: #000;
  margin: 0 0 20px;
  font-size: 35px;
  line-height: normal;
  text-rendering: optimizelegibility;
  font-size: 36px;
}
