.type-026-Categories-Bestsellers .bigshop-banner>div.row div {
  margin-bottom: 25px;
}
.type-026-Categories-Bestsellers .bigshop-banner div a img:hover {
  opacity: .8;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
