.type-014-contact .navbar {
  min-height: 0px;
}
.type-014-contact ul {
  list-style: none;
  padding: 0;
}
.type-014-contact .navbar-inverse .navbar-nav>.active>a {
  background: #f15a23;
  font-size: 14px;
  border-right: 1px solid #555;
  line-height: 40px;
  text-decoration: none;
  padding: 0 10px;
  z-index: 1009;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.type-014-contact .navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 14px;
  border-right: 1px solid #555;
  line-height: 40px;
  text-decoration: none;
  padding: 0 10px;
  z-index: 1009;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.type-014-contact .navbar-inverse .navbar-nav>li>a:hover {
  background: #f15a23;
  border-radius: 3px 3px 0 0;
  transition: all .3s ease-in-out;
}
.type-014-contact .navbar-inverse .navbar-nav>li:hover .dropdown-menu {
  display: block;
}
.type-014-contact .navbar-nav>li>.many-ul {
  width: 604px;
  margin-left: -119.988px;
}
.type-014-contact .navbar-nav>li>.many-ul>div>ul>li {
  border-bottom: 1px solid whitesmoke;
  padding: 1px 4px;
}
.type-014-contact .navbar-nav>li>.many-ul>div>ul>li>a {
  text-decoration: none;
  color: #000;
}
.type-014-contact .navbar-nav>li>.many-ul>div>ul>li>a:hover {
  color: #f15a23;
}
